@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .nav-logo-container a img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero {
    padding-bottom: 15px;
    margin-top: 6px;
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 400px;
    background-color: #e0e0e0;
  }
  
  .hero-blog {
    margin: 0 50px;
    align-self: center;
  }
  
  .hero-blog p {
    font-size: 13px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
  }
  
  .hero-blog button {
    width: 200px;
    height: 28px;
    background-color: #47cfac;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .hero-blog button:hover {
    background-color: #48ad94;
  }
  
  .hero-noticias {
    margin: 0 50px;
    align-self: center;
  }
  
  .hero-noticias img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .blogs {
    margin-top: 6px;
  }
  
  hr {
    border-top: 1px solid #ccc;
    margin-bottom: 24px;
  }
  
  .blogs-title {
    text-align: center;
  }
  
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    grid-auto-rows: 1fr;
    gap: 16px;
    justify-content: center;
  }
  
  .blog-item img {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }
  
  .blog-item p {
    font-weight: 400;
  }
  
  .blog-item button {
    width: 100%;
    height: 28px;
    background-color: #47cfac;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .blog-item button:hover {
    background-color: #48ad94;
  }

  .contact {
    padding-bottom: 0px;
    margin-top: 63px;
    display: grid;
    grid-template-columns: minmax(300px, 3fr) 3fr;
    grid-auto-rows: 340px;
    background-color: #e0e0e0;
}

.contact section {
  margin: 0 50px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.contact section h4 {
  text-decoration: underline;
}

.contact section img {
  width: 90px;
  object-fit: cover;
}

.contact section p {
  font-size: 12px;
}
  
  footer {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    justify-content: center;
  }
  
  footer p {
      width: 100%;
      color: white; 
  }